<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="src/assets/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,shrink-to-fit=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> </title>
    <meta name="description" content="博客系统！" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?24e32665e07ed03261ac6dd157f71c77";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

  <link href="/static/css/app.css?19911d3230194c0e4247f9cc01f0997c" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="/static/js/manifest.js?9aa6bfde917e2211a28f"></script><script type="text/javascript" src="/static/js/vendor.js?a54171b3c7d680a71a58"></script><script type="text/javascript" src="/static/js/app.js?04ec015f592e23a66579"></script></body>
</html>
